.body {
  background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
  background-size: cover;
  /* keep the inherted background full size */
  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

/* the container before  is used to create the glass effect */
.container {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba (225, 225, 225, .5);
  filter: blur(10px)


}
