
body {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed; 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}
/* This container is needed to position the front and back side */
.card {
  width: 330px;
  height: 412px;
  box-shadow: -10px -10px 15px rgb(255 255 255 / 50%), 10px 10px 15px rgb(0 0 0 / 25%);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  transition:0.5s ease-out;
}

.card::before {
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}



.card .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 12px;
  background: rgba(255,255,255, 0.3);
  transition: 0.5s cubic-bezier(.22,.68,0,1.71);
  align: center;
}

  
h1 {
  font-size: 19px;
  text-align: center;
}

.card:hover .content {
  width:100%;
  height:60%;
  left:0;
  bottom:0;
  text-align:center;
  
}
.card:hover {
  transform: scale(1.1);
 
}
